body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1em;
}

html, body,nav, a, ul, li, img{
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #333;
}
* {
  box-sizing: border-box;
}

h1{
  font-family: 'Great Vibes', cursive;
  font-weight: 300;
  font-size: 3em;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.5em;

}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .95em;
  line-height: 1.5em;
}
