.menu {
  position: relative;
  line-height: 1.5em;
  &--landing-image {
    position: relative;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  &__menu-box {
    display: flex;
    flex-wrap: wrap;
    width: 72%;
    margin-left: auto;
    margin-right: auto;
    &--header {
      width: 100%;
      text-align: center;
    }
    &__sub--header{
      width: 100%;
      text-align: center;
      & h2 {
        font-family: 'Great Vibes', cursive;
        font-weight: 300;
        font-size: 2em;
      }
    }
  }
  &--row-one {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    &__option-one {
      width: 30%;
      &__price {
        width: 10%;
        padding: 10px;
      }
    }
    &__option-two {
      width: 30%;
      &__price {
        width: 10%;
        padding: 10px;
      }
    }
  }
  &--row-two {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    &__option-one {
      width: 30%;
      &__price {
        width: 10%;
        padding: 10px;
      }
    }
    &__option-two {
      width: 30%;
      &__price {
        width: 10%;
        padding: 10px;
      }
    }
  }
  &--row-three {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    &__option-one {
      width: 30%;
      &__price {
        width: 10%;
        padding: 10px;
      }
    }
    &__option-two {
      width: 30%;
      &__price {
        width: 10%;
        padding: 10px;
      }
    }
  }
  &--row-four {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

    &__option-one {
      width: 60%;
      &__price {
        width: 20%;
        padding: 10px;
      }
    }
    &__option-two {
      width: 30%;
      &__price {
        width: 10%;
        padding: 10px;
      }
    }
  }
}
