
@mixin atSmall {
.specialities {
  position: relative;
}
.specialities header {
  position: absolute;
  top: 10px;
  width: 100%;
}

.specialities-bg-image {
position: relative;
max-width: 100vw;
height: 100vh;
margin: 0;
overflow: hidden;
}

.specialities-bg-image img {
  position: absolute;
  top: 0;
}


.specialities h1 {
  text-align: center;
  color: #fff;

}

.specialities-grid-box {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -50px;
  margin-bottom: -100px;
  z-index: 1;
}

.specialities-grid {
  width: 25%;
  height: 280px;
  color: #000;
  text-align: center;
  font-size: 75%;
  padding: 0;
  background-color: #fff;
  border: 1px solid rgba(0,0,0, .04);
  box-sizing: border-box;
  overflow: hidden;
  & p {
    padding: 10px;
    line-height: 1.5em;
  }

}


}
